@model IndexModel
<!--Notification Row Start-->
<div class="container-fluid Notify" @Model.noticRow.CssClass>
    <div class="row">
        <div class="col-12">
            <p>
                @Model.noticRow.NotifyText
            </p>
        </div>
    </div>
</div>